workflows/Download YouTube.json
{
  "active": false,
  "activeVersion": null,
  "activeVersionId": null,
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook - Chat Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields - Respond to Chat Message 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Edit Fields - Respond to Chat Message 3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields - Respond to Chat Message 4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Code in Python1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in Python1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2026-04-04T00:37:42.135Z",
  "id": "9MRKKnQN0xI6qYdc",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Download YouTube",
  "nodes": [
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "b8927a53-2755-4364-84b1-5340c5c31af5",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.is_valid }}",
              "rightValue": ""
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "id": "4c2290d5-8e41-4f83-b4bb-9c34ad651084",
      "name": "If",
      "type": "n8n-nodes-base.if",
      "position": [
        -496,
        272
      ],
      "typeVersion": 2.2
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.text }}",
        "options": {}
      },
      "id": "d8554013-4cd9-4d3c-947a-a4a8e9488ba1",
      "name": "Respond to Webhook - Chat Message",
      "type": "n8n-nodes-base.respondToWebhook",
      "position": [
        -496,
        576
      ],
      "retryOnFail": true,
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "content": "## Entry Point\n\nThe workflow entry point is the  node chat message.",
        "height": 372,
        "width": 236,
        "color": 5
      },
      "id": "90483507-e54e-4ae7-81ec-f8c8c8491510",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1296,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Validation - URL\n\nThis node ensures that only a valid youtube video url goes forward.",
        "height": 420,
        "width": 300,
        "color": 3
      },
      "id": "cf489d3c-a245-4fe4-adf9-9cbbdc8114fd",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -912,
        272
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Data Structuring\n\nHere is the core of the workflow, where structuring is done to get the right format to answer.\n\n**NOTE:**\n\n1. Users implementing this template must modify the language in the OpenAI prompt to suit their desired output.\n\n2. An OpenAI API key is essential and must be properly configured to support data structuring and processing.  ",
        "height": 560,
        "width": 460,
        "color": 4
      },
      "id": "825e4ba3-92c1-4ec1-b997-188f93a18230",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        272,
        192
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Supadata\n\nSupadata is a powerful tool that converts YouTube video URLs into structured data via a simple API. It efficiently extracts transcriptions, making it ideal for AI training, data analysis, or text-based applications.\n\n**NOTE:**\n\n1. Users implementing this template must change the language in the query parameter to suit their needs. \n\n2. An API key is required and must be configured for the workflow to function properly.",
        "height": 900,
        "width": 460,
        "color": 7
      },
      "id": "44b60ccc-8e37-4c23-8f34-c1b011e4b6d0",
      "name": "Sticky Note4",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -272,
        64
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Description\n\nThis workflow simplifies access to YouTube video content converting into clear and concise transcriptions, ideal for users seeking practicality. It transcribes YouTube videos directly and returns the text, eliminating the need to watch the full video. \n\nThe need for this workflow arose from the demands of studying, where, amidst the fast-paced routine of daily life, reading transcribed content proved faster and more efficient for creating summaries than watching entire videos. Often, time constraints make it difficult to watch videos in full, and written text allows for quicker absorption of information. This solution provides a seamless way to access and review content from any YouTube video, regardless of the topic.",
        "height": 668,
        "width": 272
      },
      "id": "7ae34bd3-4479-4fae-b865-f6e46905f4aa",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -2352,
        -32
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "66270798-60eb-4ab8-8572-ab957474e260",
              "name": "text",
              "type": "string",
              "value": "={{ $json.error }} - {{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "9d8333d9-c489-4c01-a7ad-4cbc549b5e4f",
      "name": "Edit Fields - Respond to Chat Message 2",
      "type": "n8n-nodes-base.set",
      "position": [
        -96,
        704
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "97e0c175-8060-43da-9761-5c25d660c7ed",
              "name": "text",
              "type": "string",
              "value": "={{ $json.message.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "4801b0dd-37f8-497b-8c0e-235cc38eff04",
      "name": "Edit Fields - Respond to Chat Message 3",
      "type": "n8n-nodes-base.set",
      "position": [
        816,
        192
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "66270798-60eb-4ab8-8572-ab957474e260",
              "name": "text",
              "type": "string",
              "value": "=Something went wrong with the data structuring."
            }
          ]
        },
        "options": {}
      },
      "id": "115a4e59-3a7b-4b0a-a876-c324d642a306",
      "name": "Edit Fields - Respond to Chat Message 4",
      "type": "n8n-nodes-base.set",
      "position": [
        816,
        624
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "url": "=https://api.supadata.ai/v1/youtube/transcript?url={{ $json.text }}&text=true&lang=pt",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "sd_f890ce59d03d2eea435d6a005b6c04a3"
            }
          ]
        },
        "options": {
          "timeout": 300000
        }
      },
      "id": "81da4867-d04c-4715-9314-f76256abd025",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        -96,
        416
      ],
      "executeOnce": false,
      "notesInFlow": false,
      "retryOnFail": false,
      "typeVersion": 4.2,
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini-2024-07-18",
          "cachedResultName": "GPT-4O-MINI-2024-07-18"
        },
        "messages": {
          "values": [
            {
              "content": "You are an expert in grammar corrections and textual structuring.\n\nCorrect the classification of the provided text, adding commas, periods, question marks and other symbols necessary for natural and consistent reading. Do not change any words, just adjust the punctuation according to the grammatical rules and context.\n\nOrganize your content using markdown, structuring it with titles, subtitles, lists or other protected elements to clearly highlight the topics and information captured. Leave it in Portuguese and remember to always maintain the original formatting.\n\nTextual organization should always be a priority according to the content of the text, as well as the appropriate title, which must make sense.",
              "role": "system"
            },
            {
              "content": "={{ $json.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "1acac595-af95-443a-8cd3-58e709507966",
      "name": "OpenAI",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "position": [
        368,
        544
      ],
      "retryOnFail": true,
      "typeVersion": 1.8,
      "credentials": {
        "openAiApi": {
          "id": "EhYy7N3KJ4M63t0y",
          "name": "OpenAI account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1232,
        384
      ],
      "id": "851d86fc-721b-498d-8982-6c8a740fdf76",
      "name": "When chat message received",
      "webhookId": "53784aa9-d6e4-4832-a4c1-6293cb9c1726",
      "notesInFlow": true
    },
    {
      "parameters": {
        "language": "pythonNative",
        "pythonCode": "import re\n\ndef youtube_video_url_validator(video_url):\n    try:\n        if not video_url:\n            return {\"text\": \"URL is required.\", \"is_valid\": False}\n        \n        # Clean URL\n        video_url = re.sub(r\"\\s{2,}\", \" \", str(video_url).strip())\n        if len(video_url) < 25:\n            return {\"text\": \"URL is too short.\", \"is_valid\": False}\n            \n        is_valid = False\n        patterns = [\n            r'^https?://(?:www\\.)?youtube\\.com/watch\\?v=[\\w-]{11}',\n            r'^https?://youtu\\.be/[\\w-]{11}',\n            r'^https?://(?:www\\.)?youtube\\.com/embed/[\\w-]{11}',\n            r'^https?://(?:www\\.)?youtube\\.com/v/[\\w-]{11}',\n        ]\n        \n        for pattern in patterns:\n            if re.match(pattern, video_url):\n                is_valid = True\n                break\n                \n        if not is_valid:\n            return {\"text\": \"Invalid YouTube URL format.\", \"is_valid\": False}\n            \n        match = re.search(r'(?:v=|youtu\\.be/|embed/|v/)([\\w-]{11})', video_url)\n        video_url_id = match.group(1) if match else None\n        \n        return {\"text\": video_url, \"is_valid\": True, \"video_id\": video_url_id}\n        \n    except Exception as ex:\n        return {\"text\": str(ex), \"is_valid\": False}\n\n# --- n8n DATA ACCESS ---\n# Access the chatInput from the incoming item\n#chat_input = $input._items.first().get('chatInput', '')\n#chat_input = _items[0].get('chatInput', '')\n#chat_input = $input.first().json.chatInput\n\nchat_input = \"https://www.youtube.com/watch?v=8OoUzEAPADg\"\n\n# Run the validation logic\nresult = youtube_video_url_validator(chat_input)\n\n# Return result in n8n's expected format\nreturn [{\"json\": result}]\n"
      },
      "id": "622b1b3e-f039-4216-b7cc-a66d9fcf165d",
      "name": "Code in Python1",
      "type": "n8n-nodes-base.code",
      "position": [
        -816,
        464
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "\\\\transcripts\\\\transcript.json",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        624,
        944
      ],
      "id": "8063b881-7ec0-43b5-b7d8-472922c3c985",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "data",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        352,
        944
      ],
      "id": "b7c91736-cee7-418e-b20a-df7339f41403",
      "name": "Convert to File"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "timeSavedMode": "fixed",
    "errorWorkflow": "Dx3yIO17tRdVKNHl",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "shared": [
    {
      "updatedAt": "2026-04-04T00:37:42.139Z",
      "createdAt": "2026-04-04T00:37:42.139Z",
      "role": "workflow:owner",
      "workflowId": "9MRKKnQN0xI6qYdc",
      "projectId": "6HGCoxnhApqGzoKS"
    }
  ],
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-04T06:01:19.788Z",
  "versionId": "35586091-3e07-4427-9fff-66ca9a0fa49a"
}